#  データベースURL
DATABASE_URL="postgresql+psycopg2://appuser@localhost:5432/pharmacy_invoice_fastapi_development"

# シークレットキー
SECRET_KEY=abc

# allow_origins
ALLOW_ORIGINS=http://localhost:5173

# 管理者情報
ADMIN_ID=abc
ADMIN_NAME=abc
PASSWORD=abc
